.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #F4E092;
    color: black;
}





h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
    text-align: center;
}


#java,
#python,
#html {
    height: 100%;
    background-image: url(..//images/wood-background.jpeg);
    background-color: #000;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#index {
    background-color: blue;
}


table,
th,
td {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-collapse: collapse;
    font-size: large;

}

td {
    text-align: center;
}

table {
    width: 50%;
}