body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}

* {
    box-sizing: border-box;
}

#space {
    height: 0px;
}

#fancy {
    float: right;
    background-color: #333;
    border-color: #333;
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    border-color: #000;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-style: solid;
    border-width: 2px;

}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #F4E092;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
    text-align: center;
}

table,
th,
td {
    color: #ffffff;
    border: 1px solid #353535;
    border-collapse: collapse;
    font-size: large;

}

td {
    text-align: center;
    padding-bottom: 2px;
    padding-top: 2px;
}

table {
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    display: fixed;
}


.index-bg-image {
    background-image: url(..//images/index-photo.jpg);
}

.java-bg-image {
    background-image: url("../images/java-photo.jpeg");
}

.python-bg-image {
    background-image: url(..//images/python-photo.jpeg);
}

.html-bg-image {
    background-image: url(..//images/html-photo.png);
}

.javascript-bg-image {
    background-image: url(..//images/js-photo.png);
}

.unity-bg-image {
    background-image: url(..//images/unity-photo.jpeg);
}



.java-bg-image,
.index-bg-image,
.python-bg-image,
.html-bg-image,
.javascript-bg-image,
.unity-bg-image {
    height: 100%;
    /* height: 1120px; */
    filter: blur(4px);
    background-color: #000;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width:1000px) {
    .bg-text {
        top: 65%;
    }

    .java-bg-image,
    .index-bg-image,
    .python-bg-image,
    .html-bg-image,
    .javascript-bg-image,
    .unity-bg-image {
        height: 1120px;
    }
}

@media screen and (max-width:768px) {
    .bg-text {
        top: 48%;
    }

    .java-bg-image,
    .index-bg-image,
    .python-bg-image,
    .html-bg-image,
    .javascript-bg-image,
    .unity-bg-image {
        height: 100%;
    }
}

.intro {
    position: relative;
    display: inline-block;
    padding: 50px 100px;
    margin: 40px 50px;
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.intro:hover {
    background: linear-gradient(90deg, blue, #FF4500);
    color: #050801;
    box-shadow:
        0 0 5px linear-gradient(90deg, blue, #FF4500),
        0 0 25px linear-gradient(90deg, blue, #FF4500),
        0 0 50px linear-gradient(90deg, blue, #FF4500),
        0 0 200px linear-gradient(90deg, blue, #FF4500);

}

.intro::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom,
            #1900ff,
            #FF4500);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}

.intro:hover::before {
    opacity: 1;
}

.intro span {
    position: absolute;
    display: block;
}

.intro span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, blue, #FF8C00);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.intro span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, blue, #FF8C00);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.intro span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, blue, #FF8C00);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.intro span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, blue, #FF8C00);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}